


{% extends 'layouts/base.html' %}

{% block title %} Edit Category {% endblock %}
{% block body %}
  <div class="container">
    <h3 class="py-3 m-0 mt-3">Edit Post</h3>
    <form method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="name" class="form-label">Title</label>
        <input type="text" name="name" class="form-control" id="title" value="{{ category.name }}">
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">description</label>
        <textarea name="description" class="form-control" id="body">{{ category.description }}</textarea>
      </div>
      <div class="mb-3">
        <label for="productImage" class="form-label">Image</label>
        <input type="file" name="image" class="form-control" id="productImage">
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
{% endblock %}
