{% extends 'layouts/base.html' %}
{% block title %} show Post {% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mt-5" style="width: 23rem;">
        {% if post.image %}
        <img src="{{ url_for('static', filename='posts/images/' + post.image) }}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.body }}</p>
          <p class="card-text">{{ post.created_at }}</p>
          <p class="card-text">{{ post.updated_at }}</p>
          <p class="card-text">Category ID {{ post.category_id }} </p>
          <p class="card-text">Category Name <a href="{{post.category.show_url}}"> {{post.category.name}}</a></p>

          <a href="{{ url_for('posts.index') }}" class="btn btn-primary">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}